/* figuer image图片 */
.img-figure {
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  /* 翻转 */
  &.is-inverse {
    transform: translate(320px) rotateY(180deg);
  }
}

/* figure imgae描述 */
figcaption {
  text-align: center;
  .img-title {
    margin: 20px 0 0 0;
    color: #a7a0a2;
    font-size: 1.5rem;
  }
  .img-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    overflow: auto;
    color: #a7a0a2;
    text-align: center;
    //background-color: #fff;
    box-sizing: border-box;
    transform: rotateY(180deg);
  }
  p {
    margin: 0;
  }
}
